@{
    ViewData["Title"] = "Home Page";
}

@model BookListViewModel

<h1>The Shop Around the Corner Bookstore</h1>

@* Create a BookInfo partial view for each book in the Books table
 *@
@foreach (Book b in Model.Books)
{
    <partial name="BookInfo" model="b"></partial>
}

@* Add a div that uses custom tag helper to dynamically create pagination navigation links
 *@
<div page-model="@Model.PaginationInfo" page-action="Index"
page-classes-enabled="true" page-class="btn"
page-class-normal="btn-outline-dark"
page-class-selected="btn-primary"
class="btn-group pull-right m-1"></div>
